*{
    margin: 0;
    padding: 0;
    font-family: Arial;
    box-sizing: border-box;
}
.navbar{
    height: 60px;
    background-color: #131921;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem;
}
.nav-logo {
    height: 50px;
    width: 100px;
}
.logo{
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
}

.border {
    border: 1.5px solid transparant;
}

.border:hover {
    border: 1.5px solid white;
}

/** box2 **/
.add-first{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
    
}

.add-second{
    font-size: 1rem;
    margin-left: 3px;
}

.add-icon{
    display: flex;
    align-items: center;
}

/** box-3 **/
.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    width: 620px;
    height: 40px;
    border-radius: 4px;

}

.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}
.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: rgb(232, 158, 10);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
}

.nav-search:hover{
    border: 2px solid orange;
}

/** box4 **/
span{
    font-size: 0.7rem;
}

.nav-second{
    font-size: 0.85rem;
    font-weight: 700px;

}

.dropdown-content a {
    display: block; /* Ensures each link takes up the full width */
    padding: 12px 16px;
    text-decoration: none;
    color: black;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.nav-signin:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/** box-6 **/

.nav-cart i {
    font-size: 30px;
}
.nav-cart{
    font-size: 0.85rem;
    font-weight: 700px;
}

/** panel **/
.panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
    
}
.panel-ops p{
    display: inline;
    margin-left: 15px;
}
.panel-ops{
    width: 70%;
    font-size: 0.85rem;
}

.panel-deals{
    font-size: 0.9rem;
    font-weight: 700px;
}

/* header-slider */
.header-slider{
    position: relative;
    width: 100%;
    
    overflow: hidden;
    margin:0;
    padding: 0;
}
.header-slider ul{
    display: flex;
    overflow-y: hidden;
    
}
.header-img{
    max-width: 100%;
    mask-image: linear-gradient(to bottom, #000000 50%, transparent 100%);

}
.header-slider a{
    position: absolute;
    top: 20%;
    z-index: 1;
    padding: 5vh 1vw;
    background: #ffffff4f;
    color: #0000007b;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
}
.control_next{
    right: 0;
}

/** hero-section **/
.hero-section {
    position: absolute;
    width: 90%;
    left: 50%; /* Center it horizontally */
    transform: translateX(-50%); /* Adjust the position to the center */
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f6f6;
    color: black;
    padding: 10px 20px;
    font-size: 1rem;
    margin-top: -250px;
}

.hero-msg {
    background-color: #f5f6f6;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}

.hero-msg a {
    color: #007185;
    text-decoration: none;
}

/**shop-section**/
.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /*background-color: whitesmoke;*/
    background-color: rgba(255, 255, 255, 0.8);
    margin-top: -150px;
    padding-top: 10px;
    z-index: 20;
    position: relative;
}
.box {
    /**border: 2px solid black;**/
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
}

.box-img{
    height: 280px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
}

.box-content p{
    color: #007185;
}

 /** box-2,3,8,10,11,12,13**/

.sub-boxes{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.sub-box{
    width: 48%;
    background-color: white;
    text-align: left;
}

.sub-box-img{
    height: 115px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 0.12rem;
}

.sub-box p{
    color: black;
    font-size: 0.75rem;
}

/** box-5 **/
/**1st row with one img **/
.sub-box1{
    width: 100%;
    background-color: white;
    text-align: left;
    font-size: 0.9rem;
}
.sub-box1-img{
    height: 170px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 0.5rem;
}
.sub-box1 p{
    color: black;
    text-align: left;
}
/** 2nd row with 3 images **/
.sub-box3{
    width: 32%;
    background-color: white;
    text-align: left;
}
.sub-box3-img{
    height: 68px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 0.5rem;
}
.sub-box3 p{
    color: black;
    font-size: 0.75rem;
}
.box5 .sub-boxes.single-box{
    margin-bottom: 0;
}

/** Box-9 **/
.box9{
    width: 100vw;
    height: 300px;
    padding: 1rem;
    box-sizing: border-box;
    background-color: white;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
.box9 .box-header{
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 0.5rem;
    font-size: medium;
    margin-right: 250px;
}
.box9 p{
    margin-top: 8px;
    margin-left: 15px;
    color: #007185;
}
.babygiftimages{
    display: flex;
    justify-content: space-between;
    
}
.baby-img{
    width: 208px;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/** footer **/
footer{
    margin-top: 15px;
}
.foot-panel1{
    cursor: pointer;
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    margin-top: 30px;
}
.foot-panel1 p{
    margin-left: 700px;
}
.foot-panel2{
    background-color: #222f3d;
    color: white;
    height: 400px;
    display: flex;
    justify-content: space-evenly;
}
ul p{
    margin-top: 50px;
}
ul a {
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
}
.foot-panel3{
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100px;
}

.foot-panel4{
    background-color: #0f1111;
    color: white;
    height: 80px;
    font-size: 0.7rem;
    text-align: center;
}
.pages {
    padding-top: 25px;
}
.copyright {
    padding-top: 5px;
}


